/* Normalize */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #285;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin: 30px;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
}

/* Main */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Home page */
#title {
    font-size: 36px;
}

#subtitle {
    font-size: 18px;
    margin-top: 10px;
}

#login, #register {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
}

/* Lote list */
#all-lotes-display {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px #bebebe;
}

.all-lotes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lote-item {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #bebebe;
}

.lote-details {
    margin-top: 10px;
}

.lote-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Lote register */
#lote-register {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
}

/* Vacinas */
.vacina-list {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
}

/* Buttons */
button {
    padding: 5px 10px;
    cursor: pointer;
    background: #fff;
    color: black;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
}

/* Container */
.container {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: rgb(54, 54, 54);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    display: inline-block;
    margin: 0 10px;
}
  
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
  
.navbar-right {
    display: flex;
    align-items: center;
}
  
#logout button {
    margin: 0 10px;
    transition: all 0.2s;
}
  
nav button {
    padding: 5px 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
    border: none;
}
  