/* Reset de estilos padrão do navegador */
body, h1, h2, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

/* Estilos para o cabeçalho */
h1 {
    font-size: 24px;
    margin-top: 20px;
}

/* Estilos para a área de autenticação */
#lote-show, #lote-register {
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 5px;
}

/* Estilos para os formulários */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para botões */
button {
    background-color: #fff;
    color: #000000;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
}

/* Mostrar/ocultar os formulários de registro e login */
#register, #login {
    display: none;
}

.lote-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} 
  
.lote-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
}

nav {
    background-color: #333;
    padding: 5px; /* 10px em cima e embaixo, 0px nas laterais */
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
  
nav ul li a:hover {
    text-decoration: underline;
} 

/*----------------------*/

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right h1 {
    margin-right: 20px;
}

/* Estilo do botão Logout */
#logout button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

#logout button:hover {
    background-color: #ccc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    flex-direction:column;
    font-size: 15px;
}

.left {
    width: 45%;
    padding: 10px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.right {
    width: 55%;
    padding: 10px;
    background-color: #e5e5e5;
    position: relative;
}